{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_app/css/form.css'%}">
    <title>Student Records</title>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Create New Student Record</h1>
      <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
        </div>
        {% endfor %}
        <div class="buttons">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</body>
</html>