body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    font-weight: 600;
}

* {
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 1px grey;
}

.form-group {
    padding: 0.5rem;
}

label {
    color: rgb(120, 120, 120);
}

input[type="text"], input[type="number"], input[type="email"] {
    display: block;
    margin-top: 0.4rem;
    padding: 1rem;

    width: 400px;

    font-weight: 600;
    font-size: 1.125rem;

    outline: none;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 4px;
}

input[type="date"], select{
    font-size: 1.125rem;
    padding: 0.5rem;
    margin-left: 2rem;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    font-weight: normal;
}


input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {
    border: 2px solid rgb(103, 205, 0);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: right;
}

input[type="submit"]{
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    border: none;

    background-color: darkcyan;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;

    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
}